<mat-toolbar color="primary" class="navbar">
  <div class="nav-container">
    <a routerLink="/" class="nav-brand">
      <mat-icon>store</mat-icon>
      <span>BodShop</span>
    </a>
    <ul class="nav-links">
      <li>
        <a routerLink="/" routerLinkActive="active" aria-label="Home">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active" aria-label="About">
          <mat-icon>info</mat-icon>
          <span>About</span>
        </a>
      </li>
      <li>
        <a routerLink="/items" routerLinkActive="active" aria-label="Items">
          <mat-icon>inventory</mat-icon>
          <span>Items</span>
        </a>
      </li>
      <li>
        <a routerLink="/login" routerLinkActive="active" aria-label="Login">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>